{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

     <div class="leader">
        <h5>Please enter your email</h5>
        <hr>
        <div class="row" >
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-success btn-sm">Reset Password</button>
                        <hr >
                        <a href="{% url 'login' %}" style="font-size:13px;">Already have an account</a>
                    </form>
                </div>
              </div>
            </div>
          </div>
    </div>
{% endblock content %}