{% extends 'base.html' %}
{% block content %}
    {% if request.user.is_annotator %}
       <div class="row">

              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5>{{ crop }}</h5>
                    <table class="table_row">
                      <tbody class="rows_tb">
                        <tr class="rows_tr">
                          <td class="rows_td">Images</td>
                          <td class="rows_tds">{{ cas }}</td>
                        </tr>
                        <tr class="rows_tr">
                          <td class="rows_td annotated">Annotated</td>
                          <td class="rows_tds annotated">{{ casAnn }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

       </div>
       <div class="header">

        <h5>Batches</h5>
        <hr>
        <div class="row" >
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Assigned</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Annotated</a>
                      </li>
                    </ul>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                       <div id="tables">
                          <table class="table table-bordered table_annotator">
                          <thead class="thead-light">
                            <tr>
                              <th>Crop</th>
                              <th>Name</th>
                              <th>Country</th>
                              <th>Assigned on</th>
                              <th>Download Batch</th>
                            </tr>
                          </thead>
                          <tbody>

                            {% for upload in uploads %}
                            {% if not upload.is_annotated %}
                            <tr>
                              <td>{{ upload.crop }}</td>
                              <td>{{ upload.url }}</td>
                              <td>{{ upload.country }}</td>
                              <td>{{ upload.last_updated }}</td>
                              <td><a href="{{ upload.adminUpload.url }}" download="{{ upload.adminUpload.url }}" class="btn btn-info">Download</a></td>

<!--                              <td><a href="" class="btn btn-info btn-sm">Assign Batches</a></td>-->
                            </tr>
                            {% endif %}
                            {% endfor %}

                          </tbody>
                          </table>
                        </div>
                  </div>
                  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                          <div id="tables">
                          <table class="table table-bordered table_annotator">
                          <thead class="thead-light">
                            <tr>
                              <th>Crop</th>
                              <th>Name</th>
                              <th>Country</th>
                              <th>Annotator</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for upload in uploads %}
                            {% if upload.is_annotated %}
                            <tr>
                              <td>{{ upload.crop }}</td>
                              <td>{{ upload.url }}</td>
                              <td>{{ upload.country }}</td>
                              <td>{{ upload.assigned }}</td>
<!--                              <td><a href="" class="btn btn-info btn-sm">Assign Batches</a></td>-->
                            </tr>
                            {% endif %}
                            {% endfor %}
                          </tbody>
                          </table>
                        </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    {% else %}
        <p>You are not an annotator!</p>
    {% endif %}
{% endblock content %}